<div id='contact-fields' class='field form-group'>
  <%= form_for @contact do |f| %>
    <%= f.label :name %><br/>
    <%= f.text_field :name, :required => true, class: 'form-control' %>
    <%= f.label :email %><br/>
    <%= f.text_field :email, :required => true, class: 'form-control' %>
    <%= f.label :message %><br/>
    <%= f.text_field :message, :as => :text, :required => true, class: 'form-control' %>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
