<div id="menu-outer">
  <div class="table">
    <ul id="horizontal-list">
      <li><%= link_to 'Home', root_path %> </li>
      <li><%= link_to 'About', about_path %> </li>
      <li class="hidden"><%= link_to 'Open House', openhouse_path %> </li>
      <li><%= link_to 'Listings', 'http://www.homerealestate.com/ericbrown/listing/listingsearch.aspx', :target => '_blank' %></li>
      <li><%= link_to 'Buyers', buyers_path %> </li>
      <li><%= link_to 'Sellers', sellers_path %> </li>
      <li><%= link_to 'Acreage', acreage_path %> </li>
      <li><%= link_to 'Resources', resources_path %> </li>
      <li><%#= image_tag('EqualHousing.png', class: 'eqhouse') %></li>
    </ul>
  </div>
  <div class='menu-logos'>
    <%= image_tag('EqualHousing.png') %>
    <%= image_tag('REALTOR-Logo.png') %>
  </div>
</div>
