<div id="title">

  <span class="name">
    Eric Brown

  </span> 
  <span class='realtor'>Realtor&#0174</span>
  <span class="glyphicon glyphicon-tree-deciduous icon top-shadow"></span>
  <div class="subtitle">
    <span class="sub">
      <%= image_tag("hrelogo.png", class: "hre") %>
    </span>
  </div>
</div>
<div class='rect-white'>
  <div class='custom-notice'>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
  </div>
</div>

<div id='refs'>
  <h3>References</h3>
  <div class='refs'>
    <%= cms_snippet_content('references', @cms_site).html_safe %>
  </div>
  <div class='bottom hidden'>
    <%= image_tag('EqualHousing.png', class: 'eqhouse') %>
    <%= image_tag('REALTOR-Logo.png', class: 'eqhouse') %>
  </div>
</div>

