<!DOCTYPE html>
<html>
<head>
  <title>Eric Brown -- Realtor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id='full-page-rect'></div>



  <div id='skrollr-body'>
    <div class="container-fluid main">
      <div class='col-md-12'>

	<div class='row'>
	  <%= render 'layouts/header' %>
	</div>
	
	<div class='row'>
	  <div class='col-md-2'>
	    <%= render 'layouts/contact' %>
	  </div>
	  <div class='col-md-8'>
	    <%= yield %>
	  </div>
	  <div class='col-md-2'>
	    <%= render 'layouts/sidebar_right' %>
	  </div>
	</div>

	<div class='row'>
	  <%= render 'layouts/footer' %>
	</div>

      </div>
    </div>
  </div>


  <script>
   (function($){
     skrollr.init({
       forceHeight: false,
       smoothScrolling: false
     }).refresh();
   } (jQuery));

   $(document).ready(function () {
     $('#fix').find('span').removeAttr("style");
     $('#fix').find('p').removeAttr("style");
   });


  </script>


</body>
</html>
