<!DOCTYPE html>
<html>
<head>
  <title>Eric Brown -- Realtor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id='full-page-rect'></div>

  <%= render 'layouts/header' %>

  <div id='skrollr-body'>
    <div class="container main">
      <%= yield %>
      <%= render 'layouts/contact' %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <script>
   (function($){
     skrollr.init({
       forceHeight: false,
       smoothScrolling: false
     }).refresh();
   } (jQuery));

   $(document).ready(function () {
     $('#fix').find('span').removeAttr("style");
     $('#fix').find('p').removeAttr("style");
   });


  </script>


</body>
</html>
